*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.container img{
    height: 500px;
    width: 500px;
    margin-left: 350px;
}
button{
    padding: 10px 10px;
}

